In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('train.csv')
df.head()

/var/folders/_y/_6f2xh9n7ll146rsr_0q5knr0000gn/T/ipykernel_1909/2467085846.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [5]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [6]:
df['Credit_Score'].value_counts()

Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [7]:
!pip install sdv

Requirement already satisfied: sdv in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (1.24.0)
Requirement already satisfied: boto3<2.0.0,>=1.28 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (1.39.4)
Requirement already satisfied: botocore<2.0.0,>=1.31 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (1.39.4)
Requirement already satisfied: cloudpickle>=2.1.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (3.1.1)
Requirement already satisfied: graphviz>=0.13.2 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (0.21)
Requirement already satisfied: numpy>=1.24.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (2.3.1)
Requirement already satisfied: pandas>=1.5.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (2.3.1)
Requirement already satisfied: tqdm>=4.29 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (4.67.1)
Requirement already satisfied: copulas>=0.12.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (0.12.3)
Requirement already satisfied: ctgan>=0.11.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (0.11.0)
Requirement already satisfied: deepecho>=0.7.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (0.7.0)
Requirement already satisfied: rdt>=1.17.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (1.17.1)
Requirement already satisfied: sdmetrics>=0.21.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (0.21.0)
Requirement already satisfied: platformdirs>=4.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (4.3.8)
Requirement already satisfied: pyyaml>=6.0.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sdv) (6.0.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from boto3<2.0.0,>=1.28->sdv) (1.0.1)
Requirement already satisfied: s3transfer<0.14.0,>=0.13.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from boto3<2.0.0,>=1.28->sdv) (0.13.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from botocore<2.0.0,>=1.31->sdv) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from botocore<2.0.0,>=1.31->sdv) (2.5.0)
Requirement already satisfied: plotly>=5.10.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from copulas>=0.12.1->sdv) (6.2.0)
Requirement already satisfied: scipy>=1.9.2 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from copulas>=0.12.1->sdv) (1.16.0)
Requirement already satisfied: torch>=2.0.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from ctgan>=0.11.0->sdv) (2.7.1)
Requirement already satisfied: pytz>=2020.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas>=1.5.0->sdv) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from pandas>=1.5.0->sdv) (2025.2)
Requirement already satisfied: scikit-learn>=1.1.3 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from rdt>=1.17.0->sdv) (1.7.0)
Requirement already satisfied: Faker>=17 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from rdt>=1.17.0->sdv) (37.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from plotly>=5.10.0->copulas>=0.12.1->sdv) (1.46.0)
Requirement already satisfied: packaging in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from plotly>=5.10.0->copulas>=0.12.1->sdv) (25.0)
Requirement already satisfied: six>=1.5 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.31->sdv) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from scikit-learn>=1.1.3->rdt>=1.17.0->sdv) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from scikit-learn>=1.1.3->rdt>=1.17.0->sdv) (3.6.0)
Requirement already satisfied: filelock in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (3.18.0)
Requirement already satisfied: typing-extensions>=4.10.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (4.14.1)
Requirement already satisfied: sympy>=1.13.3 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (1.14.0)
Requirement already satisfied: networkx in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (3.5)
Requirement already satisfied: jinja2 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (3.1.6)
Requirement already satisfied: fsspec in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from torch>=2.0.0->ctgan>=0.11.0->sdv) (2025.5.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from sympy>=1.13.3->torch>=2.0.0->ctgan>=0.11.0->sdv) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages (from jinja2->torch>=2.0.0->ctgan>=0.11.0->sdv) (3.0.2)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df)

# Drop columns with high cardinality that are causing memory issues
columns_to_drop = [
    'Name',
    'SSN',
    'Annual_Income',
    'Num_of_Loan',
    'Type_of_Loan',
    'Changed_Credit_Limit',
    'Outstanding_Debt',
    'Credit_History_Age',
    'Amount_invested_monthly',
    'Monthly_Balance',
    'ID',
    'Customer_ID' # Also drop ID columns as they are not useful for synthesis
]

df_reduced = df.drop(columns=columns_to_drop)

metadata_reduced = SingleTableMetadata()
metadata_reduced.detect_from_dataframe(data=df_reduced)


synthesizer = CTGANSynthesizer(
    metadata_reduced,
    enforce_rounding=False,
    epochs=500,
    verbose=True
)

synthesizer.fit(df_reduced)

synthesizer.save(filepath='credit_scoring_model.pkl')

/Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages/sdv/single_table/base.py:163: FutureWarning: The 'SingleTableMetadata' is deprecated. Please use the new 'Metadata' class for synthesizers.
  warnings.warn(DEPRECATION_MSG, FutureWarning)
/Users/zap/Documents/Hackathon/Credit-scoring-data-synthetic-generator/venv/lib/python3.11/site-packages/sdv/single_table/base.py:129: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

PerformanceAlert: Using the CTGANSynthesizer on this data is not recommended. To model this data, CTGAN will generate a large number of columns.

Original Column Name     Est # of Columns (CTGAN)
Month                    8
Name                     10140
Age                      1788
Occupation               16
Annual_Income            18940
Monthly_Inhand_Salary    11
Num_Bank_Accounts        11
Num_Credit_Card          11
Interest_Rate            11
Num_of_Loan              434
Type_of_Loan             6261
Delay_from_due_date      11
Num_of_Delayed_Payment   750
Changed_Credit_Limit     4384
Num_Credit_Inquiries     11
Credit_Mix               4
Outstanding_Debt         13178
Credit_Utilization_Ratio 11
Credit_History_Age       405
Payment_of_Min_Amount    3
Total_EMI_per_month      11
Amount_invested_monthly  91050
Payment_Behaviour        7
Monthly_Balance          98793
Credit_Score             3

We recommend preprocessing discrete columns that can have many values, using 'update_transformers'. Or you may drop columns that are not necessary to model. (Exit this script using ctrl-C)